@import url('https://font.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
    background: white;
    min-height: 100vh;
}
#header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
#header .logo{
    color: #094b65;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
}
#header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header ul li{
    list-style: none;
    margin-left: 20px;
}
#header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #094b65;
    border-radius: 20px;
}
#header ul li a:hover,
#header ul li a.active{
    background: #094b65 ;
    color: white;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
/*section ::before{
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #094b65, trasparent);
    z-index: 10;
}*/
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section #text{
    position: absolute;
    color: #094b65;
    font-size: 10vw;
    text-align: center;
    line-height: 0.55em;
    font-family: 'Rancho', cursive;
    transform: translateY(-50%);
}
section #text span{
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: wheat;
    color: #094b65;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(100px);
}
#about{
    position: relative;
    padding: 100px;
    background: #094b65;
}
h1{
    font-family: 'Roboto mono', cursive;
    font-size: 5em;
    color: white;
    text-align: center;
}
#about h2{
    font-size: 2.5em;
    color: white;
    margin-bottom: 10px;
}
#about p{
    font-size: 1em;
    color: white;
}
img{
    float: left;
}
#ctct{
    position: relative;
    background : #def2f1;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 100px;
}
h3{
    font-size: 2em;
    color: #094b65;
    text-align: center;
}
.sosmed{
    display: inline-block;
    width: 90px;
    height: 90px;
    margin: 30px;
    overflow: hidden;
    position: relative;
    color: #094b65;
}
.sosmed i{
    transition: 0.2s linear;
    font-size: 50px;
    line-height: 90px;
    margin-left: 24px;
}
.sosmed:hover i{
    transform: scale(1.3);
    color: white;
}
.sosmed::before{
    content:"";
    position: absolute;
    width: 120px;
    height: 120px;
    left: -110px;
}
#fav h1{
    color: rgb(61, 32, 9);
}
footer{
    background-color:#094b65;
    text-align: center;
    padding: 10px;
}
footer p{
    color: white;
}
